<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="pro.moussawi7.plugins.SettingOpener"
        version="0.2.0">

  <name>Setting Opener</name>
  <description>
  This plugin open Setting Pages
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/SettingOpener.js" name="SettingOpener">
    <clobbers target="window.plugins.SettingOpener" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SettingOpener">
        <param name="android-package" value="pro.moussawi7.plugins.SettingOpener" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
    </config-file>

    <source-file src="src/android/pro/moussawi7/plugins/SettingOpener.java" target-dir="src/pro/moussawi7/plugins"/>
  </platform>

</plugin>
